<div id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="nav-mobile nav-mobile-ctrl">
                    <a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-global" aria-expanded="false">
                        <img src="/assets/getimage.png">
                    </a>
                </div>
                <div class="logo">
                    <a href="/" target="_blank"><img class="img-fluid" src="/assets/logo.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="global-menu">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-a">
                <div class="collapse navbar-collapse" id="navbar-global">
                    <ul id="menu" class="nav navbar-nav">
                        <li class="nav-mobile nav-mobile-item">
                            <div class="navbar-ctrl-m">
                                <a class="navbar-toggler" data-toggle="collapse" data-target="#navbar-global" aria-expanded="true">
                                    <img src="/assets/getImage.png">
                                </a>
                            </div> 
                        </li>
                        <li class="nav-item nav-item-lng">
                            

<div class="language">
<a class="item-lng lng-ita active" href="/Base/setLanguage?lng=ita" title="Italiano">Italiano</a><a class="item-lng lng-fur " href="/Base/setLanguage?lng=fur" title="Friulano">Friulano</a></div>
                        </li>
                        <li class="nav-item nav-item-search">
                            <div class="rpe">
                                



<form action="/ricerca/ExecuteSearch" method="Post" class="form-navbar-ssmp" role="search" data-reqmsg="È necessario compilare il campo" data-allow-empty-search="false" data-event="submit"><input name="__RequestVerificationToken" type="hidden" value="rk6beAy-uafS0AWiCKU4ctm9vwmn-KBZXn7gQPnrhSd3UZmQ-atUwgxA8UTkJsJH7agQm0yHCUcJ7iTM5RKYjMJ8BivB7BmomqGH1YsPlFE1"><input id="search-type-navbar-h" name="search-type" type="hidden" value="SSMP">    <div class="input-group">
        <input aria-label="Ricerca nel catalogo" class="form-control form-control-sm  ctl-search-field txt-ssmp" id="txt-Any-1-portable" name="txt-Any-1" placeholder="Ricerca nel catalogo" title="Ricerca nel catalogo" type="text" value="">
        
        <div class="input-group-btn">
            <button class="btn btn-primary btn-sm btn-search btn-search-navbar" type="submit" title="Cerca" aria-label="Cerca">
                    <span class="fa fa-search"></span>
            </button>
        </div>
    </div>
</form>
                            </div>
                        </li>
                        


        <li class="nav-item nav-item-tit dropdown ">
            

                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Ricerche">Ricerche <span class="caret"></span></a>
                <div class="dropdown-menu" role="menu">
                                <a role="menuitem" class="dropdown-item dropdown-item-ssmp active" href="/ricerca/semplice" title="Ricerca Semplice">Semplice</a>
                                <a role="menuitem" class="dropdown-item dropdown-item-sadv " href="/ricerca/avanzata" title="Ricerca Avanzata">Avanzata</a>
                </div>
        </li>
        <li class="nav-item nav-item-lst dropdown ">
            

                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Indici">Indici <span class="caret"></span></a>
                <div class="dropdown-menu" role="menu">
                                <a role="menuitem" class="dropdown-item dropdown-item-ltit " href="/ricerca/indice-titoli" title="Titoli">Titoli</a>
                                <a role="menuitem" class="dropdown-item dropdown-item-laut " href="/ricerca/indice-autori" title="Autori">Autori</a>
                                <a role="menuitem" class="dropdown-item dropdown-item-lsog " href="/ricerca/indice-soggetti" title="Soggetti">Soggetti</a>
                                <a role="menuitem" class="dropdown-item dropdown-item-lcol " href="/ricerca/indice-collezioni" title="Collezioni">Collezioni</a>
                                <a role="menuitem" class="dropdown-item dropdown-item-lcla " href="/ricerca/indice-classificazioni" title="Classificazioni">Classificazioni</a>
                                <a role="menuitem" class="dropdown-item dropdown-item-ledi " href="/ricerca/indice-editori" title="Editori">Editori</a>
                </div>
        </li>
        <li class="nav-item nav-item-cst dropdown ">
            

                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Ricerche Speciali">Ricerche Speciali <span class="caret"></span></a>
                <div class="dropdown-menu" role="menu">
                                <a role="menuitem" class="dropdown-item dropdown-item-cmod " href="/ricerca/libro-moderno" title="Libro moderno">Libro moderno</a>
                                <a role="menuitem" class="dropdown-item dropdown-item-cant " href="/ricerca/libro-antico" title="Libro antico">Libro antico</a>
                                <a role="menuitem" class="dropdown-item dropdown-item-cmus " href="/ricerca/materiale-musicale" title="Materiale musicale">Materiale musicale</a>
                                <a role="menuitem" class="dropdown-item dropdown-item-ccar " href="/ricerca/materiale-cartografico" title="Materiale cartografico">Materiale cartografico</a>
                                <a role="menuitem" class="dropdown-item dropdown-item-cgra " href="/ricerca/materiale-grafico" title="Materiale grafico">Materiale grafico</a>
                                <a role="menuitem" class="dropdown-item dropdown-item-cflm " href="/ricerca/genere-cinematografico" title="Materiale filmico">Materiale filmico</a>
                </div>
        </li>
        <li class="nav-item nav-item-binf  ">
            

                        <a role="menuitem" class="nav-link nav-link-binf" href="/biblioteche" title="Biblioteche">Biblioteche</a>
        </li>

                        <li class="nav-item nav-item-user">
                            


    <div class="menu-user">

        <div class="dropdown dropdown-menu-user">
            <a class="dropdown-toggle btn btn-sm btn-white btn-dropdown-user" title="Dropdown utente" data-toggle="dropdown" href="#" aria-expanded="false">
                    <span class="fa fa-user" aria-hidden="true"></span>
                                <span class="caret"></span>
            </a>
            <div id="dropdown" class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item  " href="/utente/login">Login</a>
                        <a class="dropdown-item  " href="/utente/i-miei-libri">I miei libri</a>
                        <a class="dropdown-item  " href="/utente/le-mie-ricerche">Le mie ricerche</a>
            </div>
        </div>
    </div>

                        </li>
                       
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    
                <div class="top-generic top-catalogo-biblioteca prx">
    <div class="top-inner-container-0">
        <div class="top-inner-container-1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4>
                            Biblioteca
                        </h4>
                        <div class="description">
                            Catalogo di consultazione (OPAC)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            
</div>