<div class="top-generic top-catalogo-biblioteca prx">
    <div class="top-inner-container-0">
        <div class="top-inner-container-1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4>
                            Gabriel Jones
                        </h4>
                        <div class="description">
                          L'oblio non mi spaventa.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>